
@{
	ViewData["Title"] = "About";
}
	<div class="container w-75">
		@Html.Raw(PrintModel.Title("The Founders", 1))
		@Html.Raw(PrintModel.Paragraph("On behalf of our great Team, I would like to welcome you to Guess Game AB. We are always at your service, working with passion and dedication to offer you an comprehensive and personally funny games."))
		@Html.Raw(PrintModel.SubTitle("Elias Haloun", 3))
		@Html.Raw(PrintModel.Paragraph("Elias comes from Aleppo, Syria and has a bachelor’s degree in accounting, Elias works as an accountant for different companies in Syria, UAE and Lebanon, before started studying software development at HKR in 2017."))
		@Html.Raw(PrintModel.SubTitle("Role: Main responsibility was Front-end and Back-end", 5))
		<img src="~/img/avatar/001-man-13.png" style="display:block; margin:auto;" width="128" height="128" />
		@Html.Raw(PrintModel.SubTitle("Rami Alnaser", 3))
		@Html.Raw(PrintModel.Paragraph("Rami comes from Aleppo, Syria and has a background of managing small companies as well as an experience of selling, Rami has worked in UAE and Sweden and has started studying software development at HKR in 2017"))
		@Html.Raw(PrintModel.SubTitle("Role: Main responsibility was Database and  Back-end", 5))
		<img src="~/img/avatar/022-man-4.png" style="display:block; margin:auto;" width="128" height="128" />
		@Html.Raw(PrintModel.SubTitle("Amir Salaheldin Gissel", 3))
		@Html.Raw(PrintModel.Paragraph("Amir comes from Cairo, Egypt, holds a bachelor’s degree in English literature and simultaneous translation. He is currently in his final year in the software development program at Kristianstad University, Where he built up a good programming experience using java programming language. He has been part of many developing projects, where the role rotated between, project manager, developer, tester and designer analyst."))
		@Html.Raw(PrintModel.SubTitle("Role: Main responsibility was the WebSocket implementation and the drawing functionality", 5))
		<img src="~/img/avatar/025-man-1.png" style="display:block; margin:auto;" width="128" height="128" />
	</div>

